body{
  background-color:rgb(8, 8, 14);
  transition: background-color 0.5s  linear;

}

.sidenavs{
  position: fixed;
  background:linear-gradient(to bottom,rgb(109, 185, 226),rgb(134, 87, 229));
  height: 100vh;
  width:15vw;
  border-right: solid rgb(73, 33, 159) 2px;
  border-top: solid rgb(73, 33, 159) 2px;
  border-bottom: solid rgb(73, 33, 159) 2px;
  transition: width 0.1s linear;

  
}

.menu{
  height:23px;
  width: 23px;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
 


}

.add{
  height:23px;
  width: 23px;
  
 

}

.addchat{
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  gap: 20px;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.174);
}
.addchat:hover{
  background-color: rgba(84, 45, 45, 0.174);;
}

.recent{
  margin-left: 20px;
  margin-top: 40px;
}
.downnav{
  
  margin-left: 7px;
  text-align: center;
  position: fixed;
  top: 530px;
  
  
}
.downdiv{
  align-items: center;
  text-align: center;
  border-bottom-left-radius:10px;
  border-top-left-radius:10px;
  height:30px;
  gap: 20px;
  width: 180px;
  margin-top: 5px;
  display: flex;
 
  
 
}
.downdiv:hover{
  background-color: blue;
  

}



.div{
  width: 20px;
  height: 20px;
  justify-content:center;
  margin-left: 4px;
  
  
}
.gemini{
color: aliceblue;
position: absolute;
left:250px;
height: 80vh;
width: 80vw;




}
.gemini h1{
  margin-left: 7px;
  
  
}
.ask{
  
  border: solid rgb(13, 8, 8) 2px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  gap: 10px;
  width: 800px;
  height: 50px;
  position: absolute;
  top:620px;
  left:90px;
  background:linear-gradient(to right,rgb(109, 185, 226),rgb(134, 87, 229));
  
  
}
.inp{
  margin-left: 5px;
  width: 670px;
  border: none;
  outline: none;
  background:linear-gradient(to right,rgb(109, 185, 226),rgb(134, 87, 229));
  color: black;
  cursor: pointer;
  
}
.inp::placeholder{
  color: black;

}
.gallery{
  
  display: none;
  
  

}

.preview{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  mix-blend-mode: multiply;
  cursor: pointer;

}
.user{
 position: fixed;
 left:47%;
 top: 280px;
  color: rgb(218, 199, 199);
  font-size: 15px;
 
}
.users{
  
  top:80px;
  
  
  font-size:10px;

}
.you{
  color: bisque;
  margin-right: 20px;
  text-align: right;
  font-style: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.ai{
  margin-left: 20px;
 text-align:justify;
  line-height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(33, 33, 229, 0.91);
 
  font-size:20px;
  line-height: 40px;


  
  
  



  
}
.red{
  color:#0fb2c7e4;
 line-height: 35px;
 font-size: 23px;
 font-family: Arial, Helvetica, sans-serif;
}



.ais{
  margin-left: 15px;
  margin-right: 25px;
}


.repro{
  cursor: pointer;
}
.response{
  position: absolute;
  text-align:end;
  height: 500px;
  width: 80vw;
  overflow:scroll;
 
  scroll-behavior: smooth;
  
  padding-left: 10px;
  padding-right: 10px;
  
  scrollbar-width: none;
  background-color: rgba(52, 47, 47, 0.692);
  
 
  
}
.sidep{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  border-radius:7px;
  background-color: rgb(237, 72, 213);
  width: 160px;
  cursor: pointer;
  position: relative;
  right:15px;

  
}
.sidep:hover{
  background-color: rgb(236, 123, 219);
}
.recentdiv{
  scrollbar-width: none;
  height:290px;
  scroll-behavior: smooth;
  overflow: scroll;
}
.noi{
  
  position: fixed;
  top: 300px;
left:680px;
  background-color:aqua;
  color: white;
  padding-right: 3px;
  color: blue;
  font-size: 9px;

  
 
}
.noimobile{
  position: fixed;
  top: 300px;
  left:140px;
  background-color:aqua;
  color: white;
  padding-right: 1px;
  color: blue;
  font-size: 7px;


}







.loader{

  height:80px
}
.load{
 
  height: 20px;
  margin-top: 5px;
  background-color: blue;
  background: linear-gradient(to right,blue,rgb(15, 157, 170),white);
  animation: loader 3s infinite  linear;
  
}
@keyframes loader {

  0%{
    
    background-position: -800px,0px;
  }
  50%{
    background-position: 400px,0px;

  }
  100%{
    background-position: 800px,0px;
  }
  
}



.highlight {
  background-color: yellow;
  transition: background-color 1s ease;
  animation: fadeHighlight 2s forwards;
}

@keyframes fadeHighlight {
  0% { background-color: rgb(206, 206, 175); }
  100% { background-color: transparent; }
}


@media screen and (max-width: 700px){
body{
  background-color:rgba(15, 4, 4, 0.86);
}
 .sidenavs{
  height:100vh;
  position: fixed;
  z-index: 2;
  top:0;
  background:linear-gradient(to top,rgb(44, 167, 167),rgba(91, 189, 209, 0.848));;

 
  

 }
 .ask{
  background:linear-gradient(to right,rgb(44, 167, 167),rgb(91, 189, 209));;


 }
 .inp{
  background:linear-gradient(to right,rgb(44, 167, 167),rgb(91, 189, 209));;


 }
 .gemini{
  position:relative;
  z-index: 0;
  width:70vw;
  height:100vh;
 
  


  
  

  
  
  

 }
 
 .preview{
  mix-blend-mode: multiply;
  width:30px;
  height:30px;
 }
 .you{
font-size: 20px;
color: beige;
line-height: 55px;
line-break:normal;
 }
 .ai{
  font-size: 20px;
  color: #5C1A1B;
  line-height: 30px;
  line-break:normal;
  



  
  

 }
 .red{
 color: #3B1E1E;
 line-height: 35px;
 font-size: 23px;
 

 line-break:normal;

 }
 .minigpt{
  font-size: 25px;
  position: relative;
  
  color:blueviolet;
 }
 
 .ais{
  font-size: 15px;
  

 }
 .response{
  background-color:rgba(237, 222, 222, 0.463);
  width:77vw;
  height:70vh;
  position: absolute;
  font-size: 10px;

  padding-left:7px;
  padding-right:7px;
  
  z-index:0;
  justify-self: center;
  scrollbar-width: 3px;
  
 }
 .user{
 position:fixed;
 width:180px;
 left:80px;
 
  






  



 }


}
